<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--<add key="connectionString" value="Data Source=127.0.0.1;Initial Catalog=Student_Records;Integrated Security=True;TrustServerCertificate=True" />-->

		<add key="ThreadCount" value="10" />
	</appSettings>
	<connectionStrings>

		<add name="PostgreSqlConnection" connectionString="Host=192.168.1.9;Port=5432;Username=postgres;Password=sansar1903;Database=Student_Records" providerName="Npgsql" />
		<!--<add name="MsSqlConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=Student_Records;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />-->
		
		<!--<add name="MsSqlConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=Student_Records;User ID=sa;Password=Akindev123;TrustServerCertificate=True" providerName="System.Data.SqlClient" />-->
		<add name="MsSqlConnection" connectionString="oFPgumvyKlMRBxrpkMmLTFKQ8+LkDXttfomr3Cb3RLivMEz1CDuWV3ugXMzICTv6flsMSGmMFalM/pd1CQjE7tavRtWGRoIR440PvHQ00IdXoUeX7jV3VV38ozdMuMXbGnh2vFE0rFp0hkbZdCbDhXMr2OrJCLZCs1NW+4Q4Ux0=" providerName="System.Data.SqlClient" />


	</connectionStrings>
		<startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>